.help-box {
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.help-box-content {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    width: 80%;

    white-space: normal;

    background: rgb(85, 21, 132);
    color: lightgrey;
    box-shadow: 0 0 2px 1px white;
    z-index: 2;
}

.hide-help-button {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 2em;
}