html, body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: 
  "title"
  "body";
}

.title-bar {
  grid-area: "title";
  position: relative;
  background-color: #222;
  width: auto;
  height: auto;
  color: white;
}

.title-text {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 10px;
  opacity: 0;
  color:transparent;
  background-image: -webkit-linear-gradient(to right bottom, rgb(124, 37, 196), rgb(196, 37, 116));
  background-image: linear-gradient(to right bottom, rgb(124, 37, 196), rgb(196, 37, 116));
  -webkit-background-clip: text;
  background-clip: text;
  animation-name: titleFade;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes titleFade {
  0% {
    opacity: 0;
  }

  100%{
    opacity: 1
  }
}

.main-body {
  position: relative;
  grid-area: "body";
  height: auto;
  width: auto;
}

.main-body-background {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%; 
  min-height: 100%;
  overflow: hidden;
}

.background-video {
  position: absolute; 
  top: 0px; 
  left: 0px;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
}

.info-box{
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);

  text-align: center;
  white-space: nowrap;
  font-size: x-large;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.sign-out-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

#sign-out-button {
  top: 0px;
  right: 0px;
}

#help-button {
  top: 0px;
  left: 0px;
}